@mixin flex-container {
    display: flex;
    align-items: center;
}
@mixin for-desktop {
    @media screen and (max-width:1300px) {
        @content;
    }
}
@mixin for-lirge-desktop {
    @media screen and (max-width:1100px) {
        @content;
    }
}

@mixin for-lirge-tablet {
    @media screen and (max-width:992px) {
        @content;
    }
}

@mixin for-tablet {
    @media screen and (max-width:768px) {
        @content;
    }
}

@mixin for-mobile {
    @media screen and (max-width:576px) {
        @content;
    }
}
.btn{
    background-color: $some-color;
    padding: 14px 39px;
    border: 2px solid transparent;
    color: $primery-color;
    font-weight: 600;
    transition: 0.4s;
    cursor: pointer;
}
.btn:hover{
    background-color: transparent;
    border-color: $some-color;
    color: $some-color;
}