@import './fonts';
@import './vareables';
@import './mixins';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
    font-family: 'Space Mono', monospace;
}
.container{
    max-width: 1136px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
@include for-tablet{
    .container{
        max-width: 768px;
        padding: 0 20px;
    }
}
@import './all-block/header';
@import './all-block/about';
@import './all-block/articles';
@import './all-block/sing';
@import './all-block/footer'